body{
    margin:0;
    height:100%;
}
img{
  display:block;
  width:100%; 
  height:100%;
  object-fit: cover;
}

.me{
    margin: 3%;
    position: relative;
}
.name {
    position: absolute;
    top: 400px;
    left: 30px;
    color: whitesmoke;
    font-weight:bolder;
    font-size:100px;
    font-style:inherit;
}

.innovative {
    position: absolute;
    bottom: 300px;
    left: 30px;
    color: white;
    font-weight:800;
    font-size:50px;
    font-style:inherit;
}
 .btn-group {
     color: white;
     font-weight: 500;
     font-size:xx-large;
     position: absolute;
     bottom: 200px;
     left: 30px;
 }

 .social links {
    color: white;
    font-weight: 300;
    font-size:x-large;
    position: absolute;
    bottom: 100px;
    left: 30px;
}