body{
    margin:0;
    height:100%;
    background-color: black;
}
img{
  display:block;
  width:100%; 
  height:100%;
  object-fit: cover;
  filter: blur(60px);
  -webkit-filter: blur(7px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  

.aboutme, .portfolio{
    position: absolute;
    top: 80px;
    left: 30px;
    color: whitesmoke;
    font-weight:bolder;
    font-size:80px;
    font-style:inherit;
}

.backgroundinfo, .lang{
    position: absolute;
    top: 230px;
    left: 30px;
    color: white;
    font-weight:400;
    font-size:50px;
    font-style:inherit;
}

.backinfo, .langlist{
    position: absolute;
    top: 300px;
    left: 30px;
    color: white;
    font-weight:400;
    font-size:30px;
    font-style:inherit;
}
.interests, .proj {
    position: absolute;
    top: 500px;
    left: 30px;
    color: white;
    font-weight:400;
    font-size:50px;
    font-style:inherit;
}
.listofinterests, .listofproj {
    position: absolute;
    top: 570px;
    left: 30px;
    color: white;
    font-weight:400;
    font-size:30px;
    font-style:inherit;
}

.portfolio{
    position: absolute;
    top: 80px;
    left: 30px;
    color: whitesmoke;
    font-weight:bolder;
    font-size:80px;
    font-style:inherit;
}

.htmlpic
{
  position: relative;
  top: 40px;
  left: 0px;
  filter:opacity(200)
}
.csspic
{
  position: absolute;
  top: 0px;
  left: 500px;
  filter:opacity(200)
}