body
{
    background-image:url(images/annie.jpeg);

}

.me{
    margin: 3%;
    position: relative;
}
.name {
    position: absolute;
    top: 400px;
    left: 30px;
    color: navajowhite;
    font-weight:bolder;
    font-size:100px;
    font-style:inherit;
}

.innovative {
    position: absolute;
    bottom: 300px;
    left: 30px;
    color: navajowhite;
    font-weight:800;
    font-size:50px;
    font-style:inherit;
}

  
@media screen and (min-width:480px) {
    body {
        background-color: navajowhite;
        color: lime;
    }
}
 @media screen and (min-width: 768px) {
        body {
          background-color: black;
        }
      }
}